%tr{:id => "topic.anchor"}
  %td.avatar
    = link_avatar_to_user(topic.fonder)
  %td.content
    %h3
      = link_to topic.title, topic
    .info
      - if topic.tags.any?
        %span.tags
          - topic.tags.each do |tag|
            = link_to tag.name, tagged_topics_path(:tag => tag.name)
      %span.author
        = link_to_user(topic.fonder)
      %span.time
        = t 'created_at'
        = format_time topic.created_at
        - if topic.replies.count > 0
          ,
          = link_to_user(topic.replies.last.user)
          = t 'replied_at'
          = format_time topic.replies.last.created_at
  %td.reply-count.last
    - if topic.replies.count > 0
      = link_to topic.replies.count, topic_path(topic), :class => ((user_signed_in? && false) ? 'read' : nil)
