#main
  .container
    .row
      .span10.box
        %section#signup-form
          = form_for @user, :url => users_update_password_path, :html => { :class => "form-horizontal", :method => :put }, :validate => true do |f|
            %legend= t('user.edit_password')
            = form_password_field f, :current_password
            = form_password_field f, :password
            = form_password_field f, :password_confirmation, :placeholder => 'Password'
            = form_submit         f, t('user.edit_password')