#main
  .container
    .row
      .span10.box
        %section#signup-form
          = form_for @user, :url => users_update_password_path, :html => { :class => "form-horizontal", :method => :put }, :validate => true do |f|
            %legend= t('user.edit_password')
            .control-group
              = f.label :current_password, t('user.current_password'), :class => 'control-label'
              .controls
                = f.password_field :current_password, :placeholder => "Password"
            .control-group
              = f.label :password, t('user.password'), :class => 'control-label'
              .controls
                = f.password_field :password, :placeholder => "Password"
            .control-group
              = f.label :password_confirmation, t('user.password_confirmation'), :class => 'control-label'
              .controls
                = f.password_field :password_confirmation, :placeholder => "Password"
            .form-actions
              = f.submit t('user.edit_password'), :class => 'btn btn-primary'