#main
  .container
    .row
      .span10.box
        %section#signup-form
          = form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal", :method => :put }, :validate => true do |f|
            = devise_error_messages!
            %legend= t('user.edit_info')
            = form_text_field     f, :name,  :helper_block => t('user.helper_block.name')
            = form_uneditable_text_field f, :email
            = form_check_box      f, :public_email
            = form_select         f, :school_id, :include_blank => true, :label_text => t('user.school'), :select_options => School.all.collect {|s| [ s.name, s.id.to_i ] }
            = form_submit         f, t('user.edit_info')
/   Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
