#main
  .container
    .row
      .span10.box
        %section#signup-form
          = form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }, :validate => true do |f|
            %legend= t('user.signup')
            = form_text_field     f, :email, :helper_block => t('user.helper_block.email'), :input_class => 'input-xlarge'
            = form_password_field f, :password
            = form_password_field f, :password_confirmation, :placeholder => 'Password'
            = form_text_field     f, :name, :helper_block => t('user.helper_block.name')
            = form_check_box      f, :public_email
            = form_select         f, :school_id, :include_blank => true, :label_text => t('user.school'), :select_options => School.all.collect {|s| [ s.name, s.id.to_i ] }
            = form_submit         f, t('user.commit_signup_info')